<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="onlineshopEntities" connectionString="metadata=res://*/AzureEntityModel.csdl|res://*/AzureEntityModel.ssdl|res://*/AzureEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nnxd1scdyr.database.windows.net;Initial Catalog=onlineshop;User ID=mscinwebtech;Password=Frameworks1;MultipleActiveResultSets=False&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>